 <!-- Resources -->
  
   <div class="control is-offset-6">
  <textarea class="textarea is-focused" placeholder="Focused textarea"></textarea>
   <h2 class="title">Travel Advisory:</h2>
</div>
{{!-- MIN work on this API to grab data --}}
 <div class="is-offset-6">
 <h3 class="title">Forum</h3>
{{!-- <article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="/public/images/tobias-rademacher-2APWB4LzNyE-unsplash.jpg">
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong>{{name}}</strong>
        <br>
        {{comment}}
        <br>
        <small><a>Like</a> · <a>Reply</a> {{format_date}}</small>
      </p>
    </div>

    <article class="media">
      <figure class="media-left">
        <p class="image is-48x48">
          <img src="/public/images/adrien-taylor-2b4MrHyPqp0-unsplash.jpg">
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>{{name}}</strong>
            <br>
            {{comment}}
             <br>
            <small><a>Like</a> · <a>Reply</a> {{format_date}}/small>
          </p>
        </div>
      </div>
    </article>
  </div>
</article>

<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="/public/images/shutterstock_15148597.jpeg">
    </p>
  </figure>
  <div class="media-content">
    <div class="field">
      <p class="control">
        <textarea class="textarea" placeholder="Add a comment..."></textarea>
      </p>
    </div>
    <div class="field">
      <p class="control">
        <button class="button">Post comment</button>
      </p>
    </div>
  </div>
</article> --}}
</div>  

  
{{!-- placeholder/ future dev. --}}


    <div>
   <h4 class="title is-offset-6"> How to Help:</h4>
   
</div>
   {{!-- See if the Travel advisory API can connect to resources --}}
   {{!-- plan b: add links to the demo countries we are going to display --}}